  <section>
    <div class="container flex">
      <div class="row justify-content-center">
        <div class="col-sm-4 col-md-6 py-3">

          <div class="card">
            <div class="card-body">
              <img class="img-fluid" alt="Responsive image" src="fotos/1.jpg" alt="First slide">
            </div>
          </div>
          <div class=" text-center py-3">
            <h2>NOME DA INSITITUIÇÃO</h2>

          </div>


        </div>

        <div class="col-sm-4 col-md-6 my-auto">
          <form action="">
            <div class="modal-body">

              <div class="row">

                <div class="col">
                  <h2 class="h2-responsive product-name">
                    <strong>Nome do produto</strong>
                  </h2>

                  <div>

                    <div class="card">

                      <div class="card-header">
                        <h5 class="mb-0">
                          Sobre o item <i class="fas fa-angle-down rotate-icon"></i>
                        </h5>
                        </a>
                      </div>

                      <div>
                        <div class="card-body">
                          Explicação básico porque esse tipo de item está sendo doado e pra onde e etc
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="card-body ">
                    <div class="row">
                      <div class="col-md-4">
                        <label>Selecionar quantidade</label>
                      </div>
                      <div class="col-md-8">                        
                           <div class="def-number-input number-input safari_only row">
                          <a onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><p class="btn"><i class="fas fa-minus" style="color: black;"></i></p></a>
                          <input class="quantity " min="0" name="quantity" value="1" type="number">
                          <a onclick="this.parentNode.querySelector('input[type=number]').stepUp()" ><P class="btn"><i class="fas fa-plus" style="color: black"></i></P></a>
                        </div>
                  
                      </div>
                    </div>
                    <div class="text-center">
                      <div class="">
                        <button type="submit" class="btn btn-primary  btn-rounded btn-block">
                          <h5>Doar</h5>
                        </button>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </form>
        </div>


      </div>
    </div>
  </section>