<div class="container-fluid">
  <div class="py-3">
  <div class="card">
    <div class="card-body">

    
  <div class="row justify-content-center">
   
    <div class="col col-sm-2 col-md-12 col-lg-7 col-xl-6">       
        <div class="py-5">    
          <div class="">
              <h1 class="text-center py-2">Categorias</h1>
            <div class="row container justify-content-center imgg py-5">
              <div class="text-center menu_categoria" data-img="alimentos.jpg">
                <a href="?pagina=necessidades&categoria=Alimentos" class="">
                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="svg/alimento.svg" alt="Alimentos" class="py-3 icon-svg">
                        <h3>Alimentos</h3>
                      </div>
                      <div class="flip-card-back">
                        <img src="svg/svg-b/alimento.svg" alt="Alimentos" class="py-3 icon-svg ">
                        <h3>Alimentos</h3>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="text-center menu_categoria" data-img="brinquedos.jpg">
                <a href="?pagina=necessidades&categoria=brinquedos">
                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="svg/brinquedo.svg" alt="Brinquedos" class="py-3 icon-svg">
                        <h3>Brinquedos</h3>
                      </div>
                      <div class="flip-card-back">
                        <img src="svg/svg-b/brinquedo.svg" alt="Brinquedos" class="py-3 icon-svg ">
                        <h3>Brinquedos</h3>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="text-center menu_categoria" data-img="construcao.png">
                <a href="?pagina=necessidades&categoria=Material para Construção">
                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="svg/construcao.svg" alt="Material para Construção" class="py-3 icon-svg">
                        <h3 style="font-size: 18px;">Materiais para<br> Construção</h3>
                      </div>
                      <div class="flip-card-back">
                        <img src="svg/svg-b/construcao.svg" alt="Material para Construção" class="py-3 icon-svg ">
                        <h3 style="font-size: 18px;">Materiais para<br> Construção</h3>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="text-center menu_categoria" data-img="eletrodomesticos.png">
                <a href="?pagina=necessidades&categoria=eletrodomesticos">
                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="svg/eletrodomestico.svg" alt="Eletrodomésticos" class="py-3 icon-svg">
                        <h3 style="font-size: 18px;">Eletrodomésticos</h3>
                      </div>
                      <div class="flip-card-back">
                        <img src="svg/svg-b/eletrodomestico.svg" alt="Eletrodomésticos" class="py-3 icon-svg ">
                        <h3 style="font-size: 18px;">Eletrodomésticos</h3>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="text-center menu_categoria" data-img="eletronico.png">
                <a href="?pagina=necessidades&categoria=eletronico">
                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="svg/eletronico.svg" alt="Eletrônicos" class="py-3 icon-svg">
                        <h3>Eletrônicos</h3>
                      </div>
                      <div class="flip-card-back">
                        <img src="svg/svg-b/eletronico.svg" alt="Eletrônicos" class="py-3 icon-svg ">
                        <h3>Eletrônicos</h3>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="text-center menu_categoria" data-img="material_escolar.jpg">
                <a href="?pagina=necessidades&categoria=material escolar">
                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="svg/escolar.svg" alt="Material Escolar" class="py-3 icon-svg">
                        <h3 style="font-size: 18px;">Material<br> Escolar</h3>
                      </div>
                      <div class="flip-card-back">
                        <img src="svg/svg-b/escolar.svg" alt="Material Escolar" class="py-3 icon-svg ">
                        <h3 style="font-size: 18px;">Material<br> Escolar</h3>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="text-center menu_categoria" data-img="higiene_pessoal.jpg">
                <a href="?pagina=necessidades&categoria=higiene pessoal">
                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="svg/higienepessoal.svg" alt="Higiene Pessoal" class="py-3 icon-svg">
                        <h3 style="font-size: 18px;">Higiene<br> Pessoal</h3>
                      </div>
                      <div class="flip-card-back">
                        <img src="svg/svg-b/higienepessoal.svg" alt="Higiene Pessoal" class="py-3 icon-svg ">
                        <h3 style="font-size: 18px;">Higiene<br> Pessoal</h3>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="text-center menu_categoria" data-img="produtos_limpeza.jpg">
                <a href="?pagina=necessidades&categoria=produtos de limpeza">
                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="svg/limpeza.svg" alt="Produtos de limpeza" class="py-3 icon-svg">
                        <h3 style="font-size: 18px;">Produtos de<br /> Limpeza</h3>
                      </div>
                      <div class="flip-card-back">
                        <img src="svg/svg-b/limpeza.svg" alt="Produtos de limpeza" class="py-3 icon-svg ">
                        <h3 style="font-size: 18px;">Produtos de<br /> Limpeza</h3>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="text-center menu_categoria" data-img="livros.jpg">
                <a href="?pagina=necessidades&categoria=livros">
                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="svg/livros.svg" alt="Livros" class="py-3 icon-svg">
                        <h3>Livros</h3>
                      </div>
                      <div class="flip-card-back">
                        <img src="svg/svg-b/livros.svg" alt="Livros" class="py-3 icon-svg ">
                        <h3>Livros</h3>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="text-center menu_categoria" data-img="roupas.jpg">
                <a href="?pagina=necessidades&categoria=roupas">
                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="svg/roupas.svg" alt="Roupas" class="py-3 icon-svg">
                        <h3>Roupas</h3>
                      </div>
                      <div class="flip-card-back">
                        <img src="svg/svg-b/roupas.svg" alt="Roupas" class="py-3 icon-svg ">
                        <h3>Roupas</h3>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="text-center menu_categoria" data-img="calcados.jpg">
                <a href="?pagina=necessidades&categoria=calçados">
                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="svg/sapato.svg" alt="Calçados" class="py-3 icon-svg">
                        <h3>Calçados</h3>
                      </div>
                      <div class="flip-card-back">
                        <img src="svg/svg-b/sapato.svg" alt="Calçados" class="py-3 icon-svg ">
                        <h3>Calçados</h3>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="text-center menu_categoria" data-img="servicos.jpg">
                <a href="?pagina=necessidades&categoria=serviços">
                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="svg/servico.svg" alt="Serviços" class="py-3 icon-svg">
                        <h3>Serviços</h3>
                      </div>
                      <div class="flip-card-back">
                        <img src="svg/svg-b/servico.svg" alt="Serviços" class="py-3 icon-svg ">
                        <h3>Serviços</h3>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="text-center menu_categoria" data-img="moveis.jpg">
                <a href="?pagina=necessidades&categoria=moveis">
                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="svg/sofa.svg" alt="Móveis" class="py-3 icon-svg">
                        <h3>Móveis</h3>
                      </div>
                      <div class="flip-card-back">
                        <img src="svg/svg-b/sofa.svg" alt="Móveis" class="py-3 icon-svg ">
                        <h3>Móveis</h3>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="text-center menu_categoria" data-img="outros.jpg">
                <a href="?pagina=necessidades&categoria=outros">
                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="svg/hexagon.svg" alt="Outros" class="py-3 icon-svg">
                        <h3>Outros</h3>
                      </div>
                      <div class="flip-card-back">
                        <img src="svg/svg-b/hexagon.svg" alt="Outros" class="py-3 icon-svg ">
                        <h3>Outros</h3>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
    
    </div>

    <div class="col-md-12 col-lg-5 col-xl-6">
        <div class=" py-5 ">
          <div class="card">
            <div class="card-body text-center">
                <img class="img-fluid" id="img_banner" src="./img/categorias/pessoas.jpg" alt="">
            </div>

          </div>
            
          </div>
      </div>

  </div>
</div>
</div>
</div>
</div>
<script src="js/img_changer.js"></script>