<section id="sobrenos" class="">
  <div class="">
    <div class="container py-5">
      <div class="row py-5">

        <div class="col-12 col-md-6 col-lg-6 my-auto">
          <img class=" img-fluid " src="img/logo/logo.png" alt="">
        </div>
        <div class=" col-12 col-md-6 col-lg-6 text-center py-5 my-auto ">
          <h1>Sobre nós</h1>
          <p>De forma geral, há um desconhecimento e um certo receio quanto as instituições filantrópicas por não se ter
            o conhecimento sobre a destinação das doações. Para levar essa informação e ajudar na aproximação das
            instituições com a população criamos o site de doações Donations, um site sem fins lucrativos criado por
            alunos da Etec de Tupã, que objetiva divulgar as necessidades de instituições filantrópicas. </p>
          <!-- Modal -->

          <div class="text-center">
            <a href="" class="btn btn-danger btn-rounded" data-toggle="modal" data-target="#elegantModalForm">Comece a
              doar</a>
          </div>
        </div>
        

        </div>

      </div>
    </div>
  </div>
</section>
<br>

<section id="necessidade" class="py-5 col"  style="background-color: #b82e39 ">
  <div class="container py-5">
    <div class="row py-5 justify-content-center">

      <div class="col col-md-6 col-lg-6 sesssaodoar text-center my-auto">
        <h1 >Porque doar</h1>
        <p class="py-5">É natural não sermos completos, porque a vida é feita de trocas. Compartilhamos sorrisos, experiências, segredos, músicas, alegrias e tristezas: esse é um processo pelo qual devemos passar porque os retalhos são importantes – eles permitem que nossa história seja tecida de diversas maneiras.

          E nessa colcha (nossa trajetória de vida) podemos dizer que à medida que alguns pedaços se encaixam para nos compor, outros devem sair porque são necessários a outras pessoas.
          
          Sim, doar-se implica na necessidade de retribuir o que foi agregado à sua vida! Doamos amor, gratidão, respeito, sorrisos, ações… O que de fato importa, é a relevância desse ato de entrega que devemos tornar um hábito.</p>
      </div>
      <div class="col-12 col-md-6 col-lg-6 text-center  my-auto">

        <img class="img-fluid" src="svg/doar.svg" alt="">
        <!--pesquisar sobre o WOW transção SVG-->
    
      </div>
    </div>

  </div>
</section>

<section id="carrosel" style="background-color: #b82e39 " >
  <div class="container">
    <div class="py-3">
    <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active " style="background-image: url('./img/fundo_pessoas.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">Casa da Criança</h2>
            <p class="lead">Um trabalho de amor espetacular: 
              Métodos terapêuticos envolvendo animais como cavalos e cães são utilizados para benefício dos residentes. Veja as fotos.</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <!-- <div class="carousel-item" style="background-image: url('https://source.unsplash.com/bF2vsubyHcQ/1920x1080')"> -->
        <div class="carousel-item " style="background-image: url('./img/casa_dos_velhos.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">Casa dos Velhos</h2>
            <p class="lead"></p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('./img/santa_casa.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">Santa Casa - Tupã</h2>
            <p class="lead">Compromisso integral com pessoas que precisam</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
</section>
