<section class="">
  
  <div class="bg">
      <!-- Content -->
      <div class="text-white text-center  align-items-center rgba-black-strong py-5 px-4">
        <div>
            <div class="row justify-content-center" >
            <div class="container">
          <h1 class=""> Donations</h1>
          <h3 class="card-title pt-2"><strong>Saiba um pouco mais sobre nós</strong></h3>
          <p>A Donations é um site sem fins lucrativos criado por nós alunos da Etec de Tupã, com o objetivo de ajudar as instituições com a divulgação de suas necessidades. No site teremos todas as informações sobre a instituição e também as suas necessidades.  Para levar essa informação e ajudar na aproximação das instituições com a população criamos o site de doações Donations, O site disponibilizará informações sobre instituições e suas necessidades, de modo que o interessado poderá vê-las sem necessidade de login, que será solicitado apenas para a realização de doações, que poderão ser feitas de forma anônima.</p>
          <hr class="my-4">
          <p>Somos alunos da Etec Massuyuki Kawano Tupã-SP, cursamos Informática para Internet </p>
          <p> <strong> Nosso maior objetivo é trazer a praticidade em fazer doações, queremos que qualquer usuário consiga efetuar uma doação </strong></p>
          <h3>Ajude essa causa você também</h3>
            <button  class="btn btn-light justify-content-center"><a href="?pagina=necessidade" style="color: rgb(63, 63, 63);"> <i class="fas fa-clone left" style="color:#ea4335;"></i> Comece a doar</a></button>
          
        </div>
      </div>
    </div>
  
    </div>
    <!-- Card -->
  </div>
  
</section>